<footer class="site-footer">
  <div class="wrapper">
  
    <div class="footer-col-wrapper">
        <div class="footer-col  footer-col-50-percent">
            <h2 class="footer-heading">{{ site.title }}</h2>
            <p class="text center-justified">{{ site.description }}</p>
        </div>
      
        <div class="footer-col-right">
            <h2 class="footer-heading">Contact details and social accounts:</h2>
            {% include svg-icons.html %}
        </div>
    </div>

  </div>
</footer>
